.drawer-links {
  margin: 0;
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drawer-links a {
  display: block;
  text-decoration: none;
  color: black;
  cursor: pointer;
  width: auto;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  font-size: 1.5rem;
}

.drawer-links a:hover,
.drawer-links a:active,
.drawer-links a.active {
  color: white;
  background-color: #ff2233;
  text-shadow: 2px 2px black;
}
