.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-links li {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: black;
  padding: 10px 10px;
  text-decoration: none;
  text-shadow: 2px 1px white;
  font-size: 110%;
  margin: 10px;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links li:hover {
  background-color: white;
  text-shadow: 2px 1px #24b273;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
