.nav-menu-btn {
  height: 50px;
  width: 60px;
  border: white;
  border-style: solid;
  border-width: 1px;
  background: transparent;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav-menu-btn span {
  display: block;
  width: 45px;
  height: 3px;
  background: white;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  display: none;
}

@media (min-width: 768px) {
  .nav-menu-btn {
    display: none;
  }
  nav {
    display: flex;
    width: 100%;
  }
}
