.title {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  font-size: 2.7rem;
  width: 11.5rem;
}

.title a {
  text-decoration: none;
  color: black;
}

.title a:hover {
  background: inherit;
  text-shadow: none;
}

@media (max-width: 768px) {
  .title {
    width: 11.5rem;
  }
}
