.article-form {
  background-color: #0b8457;
  border: 1px solid black;
  border-radius: 5px;
  width: 60%;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  flex-direction: column;
}

.article-form-header {
  font-size: 1.5rem;
}
