.single-article-card {
  border: 1px solid black;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: #0b8457;
  border-radius: 5px;
}

.single-article-title {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
  margin-bottom: 1%;
}

.single-article-image {
  width: 100%;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-article-image img {
  width: 100%;
}

.single-article-description {
  padding: 1% 2%;
  font-size: 1.1rem;
}

.single-article-text {
  padding: 1%;
}

@media (min-width: 279px) {
  .single-article-card {
    width: 100%;
  }
  .single-article-image {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .single-article-card {
    width: 90%;
  }
  .single-article-image {
    width: 100%;
  }
  .single-article-image img {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .single-article-card {
    width: 80%;
  }
  .single-article-image {
    max-width: 100%;
  }
  .single-article-image img {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .single-article-card {
    width: 70%;
  }
  .single-article-image {
    width: 100%;
  }
  .single-article-image img {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  .single-article-card {
    width: 65%;
  }
  .single-article-image {
    width: 100%;
  }
  .single-article-image img {
    width: 70%;
  }
}

@media (min-width: 1600px) {
  .single-article-card {
    width: 60%;
  }
  .single-article-image {
    width: 100%;
  }
  .single-article-image img {
    width: 60%;
  }
}
