.nav-menu-icon {
  border: 1px solid black;
  border-radius: 5px;
  width: 3.5rem;
  height: 70%;
  margin-top: 0.6rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.nav-menu-btn {
  width: 3rem;
  height: 0.3rem;
  background: black;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 4px;
}

.nav-menu-icon:hover {
  background-color: #f23557;
}

.nav-menu-icon:hover span {
  background: white;
  box-shadow: 2px 2px black;
}

@media (min-width: 769px) {
  .nav-menu-icon {
    display: none;
  }
}
