.card {
  border: 1px solid black;
  border-radius: 5px;
  width: 40rem;
  height: 14rem;
  display: flex;
  flex-direction: row;
  margin: 0.3rem;
  background-color: #e1e1e1;
}

a {
  display: block;
  text-decoration: none;
  border-radius: 5px;
  color: black;
  width: 100%;
  height: 100%;
}

.info-user {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  margin: 1%;
  background-color: #0b8457;
}

.info-article {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  margin: 1% 1% 1% 0%;
  background-color: #0b8457;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 50%;
}

.image {
  border-radius: 50%;
  border: 1px solid black;
  margin-top: 5%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  height: 50%;
}

.name,
.amount {
  height: 40%;
  font-size: 1.2rem;
}

.info-user:hover,
.info-article:hover,
a:hover {
  background-color: #f23557;
  color: white;
  text-shadow: 2px 2px black;
}

@media (max-width: 768px) {
  .info-article {
    display: none;
    width: 0;
    margin: 0;
  }
  .info-user {
    width: 100%;
  }

  .card {
    width: 60vw;
  }
}
