.modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  width: 50%;
}

@media (min-width: 279px) {
  .modal {
    width: 90%;
    left: 5%;
  }
}

@media (min-width: 768px) {
  .modal {
    width: 80%;
    left: 10%;
  }
}

@media (min-width: 1024px) {
  .modal {
    width: 70%;
    left: 15%;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 60%;
    left: 20%;
  }
}

@media (min-width: 1400px) {
  .modal {
    width: 50%;
    left: 25%;
  }
}

@media (min-width: 1600px) {
  .modal {
    width: 40%;
    left: 30%;
  }
}
