.auth-form {
  background-color: #0b8457;
  border: 1px solid black;
  border-radius: 5px;
  width: 18rem;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  flex-direction: column;
}

.auth-form-header {
  font-size: 1.5rem;
}

.auth-login-signup-button-invalid {
  background-color: #f9ff21;
  font: inherit;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 7rem;
}

.auth-login-signup-button-valid {
  background-color: #f9ff21;
  font: inherit;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  width: 7rem;
}

.auth-login-signup-button-valid:hover {
  color: white;
  background-color: #f23557;
  text-shadow: 2px 2px black;
}

.auth-switch-mode-button {
  background-color: white;
  font: inherit;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  width: 10rem;
}

.auth-switch-mode-button:hover {
  color: white;
  background-color: #f23557;
  text-shadow: 2px 2px black;
}
